# Python Standard
__pycache__/
*.py[cod]
.venv/
venv/

# Environment Variables (Secrets)
.env

# Large Model Files (Unless you are using Git LFS, don't push 100MB+ files)
*.onnx
*.pt
*.h5
*.onnx.data


# OS Junk
*.Zone.Identifier
Thumbs.db
.DS_Store